header {
  text-align: center;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  background-color: yellow;
}
header img {
  width: 30%;
  height: 30%;
}
header button {
  width: 10%;
  height: 10%;
}
.div-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20%;
  height: 200vh;
}
#gatito {
  grid-column-start: 2;
  grid-column-end: 5;
  width: 100%;
  height: 100%;
}
.noticia-nueva {
  grid-column-start: 5;
  grid-row-start: 1;
  text-align: center;
  padding: 10px;
}

.noticia-nueva img {
  width: 100%;
  border-radius: 10px;
}

.noticia-nueva h4 {
  margin-top: 10px;
  font-size: 1.1rem;
}

.noticia-nueva p {
  font-size: 0.9rem;
}
